<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%=bookmark.id%>">
      <a name='<%= bookmark.title %>' type='submit' href="<%=bookmark.url%>">
      <%=bookmark.title%>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
    </li>
  <% end %>
</ul>
